<tr class="table-row">
    <td><img class="img-thumbnail burgerImg"l src="../images/burger.png">
    <td>&ensp;{{id}}. {{burger_name}}</td>

    <td>&emsp;<button data-burgerid="{{id}}" class="btn btn-success delBurger">Devour this burger!</button></td>
</tr>